<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon2.ico" />
	<!-- <link rel="preload" href="/cover.png" as="image" type="image/png" /> -->
	<link rel="preload" href="/cover.webp" as="image" type="image/webp" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="<%= WEBSITE_NAME %> Rental Service" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<title>
		<%= WEBSITE_NAME %> Book Your Room
	</title>
	<style>
		* {
			box-sizing: border-box;
		}

		h2 {
			color: #323232;
		}

		.room-description p {
			color: #505050ff;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			/* Number of lines to show */
			-webkit-box-orient: vertical;
			/* Required for line clamp */
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 24px;
		}

		body {
			font-family: Arial, sans-serif;
			background: #f5f5f5;
			margin: 0;
			padding: 0;
		}

		.t-icon {
			display: block;
			line-height: 0px;
			margin-top: -1px;
			margin-left: 1px;
		}

		.room-card {
			cursor: pointer;
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-template-rows: auto auto auto;
			background: #fff;
			margin: 50px auto;
			width: 90%;
			max-width: 1000px;
			border-radius: 12px;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
			overflow: hidden;
			position: relative;
		}

		.room-slider {
			grid-row: 1 / span 2;
			position: relative;
			overflow: hidden;
		}

		.slider-container {
			display: flex;
			transition: transform 0.4s ease-in-out;
			width: 100%;
		}

		.slider-container img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			flex-shrink: 0;
		}

		.slider-controls {
			pointer-events: auto;
			/* background: rgba(0, 0, 0, 0.5); */
			color: white;
			border: none;
			font-size: 1.5rem;
			padding: 5px 12px;
			/* border-radius: 50%; */
			cursor: pointer;
			transition: background 0.2s;
			width: 100%;
			height: 32px;
			display: flex;
			align-items: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			justify-content: space-between;
			padding: 0 26px;
			display: none !important;

		}

		.slider-controls button {
			pointer-events: auto;
			background: rgba(0, 0, 0, 0.5);
			color: white;
			border: none;
			font-size: 1.5rem;
			padding: 5px 12px;
			border-radius: 50%;
			cursor: pointer;
			transition: background 0.2s;
			width: 32px;
			height: 32px;
		}

		.slider-controls button:hover {
			background: rgba(0, 0, 0, 0.7);
		}

		.room-description {
			padding: 20px;
			padding-bottom: 10px;
			background: #fafafa;
			grid-column: 2;
			grid-row: 1;
		}

		.room-bottom {
			grid-column: 1 / span 2;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 15px 20px;
			border-top: 1px solid #eee;
			background: #fff;
		}

		.room-bottom .bedrooms, .bedrooms-count {
			font-weight: bold;
		}

		.room-bottom .details-link {
			background: #007BFF;
			color: white;
			padding: 8px 14px;
			text-decoration: none;
			border-radius: 6px;
			transition: background 0.3s;
		}

		.room-bottom .details-link:hover {
			background: #0056b3;
		}

		.price {
			font-weight: bold;
			color: #27ae60;
		}

		@media (max-width: 768px) {
			.room-card {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto auto auto;
			}

			.room-description {
				grid-column: 1;
				grid-row: 2;
			}

			.room-slider {
				grid-column: 1;
				grid-row: 1;
			}
		}

		
		.room-card:hover .room-description h2 {
			text-decoration: underline;
		}

		.room-card.no-mt {
			margin-top: 0;
		}
	</style>
</head>

<body>

	<div id="root"></div>
	<style>
		.hidden {
			display: none
		}
	</style>
	<div section-id="room-info" class="hidden">
		<div class="room-card no-mt" data-id="6882286314a2b6d1703c5bcf" onclick="_goTo('https://civico46rooms.it/property?p=6882286314a2b6d1703c5bcf')">
			<div class="room-slider" data-room-id="6882286314a2b6d1703c5bcf">
				<div class="slider-container" id="slider-6882286314a2b6d1703c5bcf">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_YrKPmmsw86pT9NapkSh27_1753360483242_1.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_THK2t9Eku-5qqdDf6feqS_1753360483243_2.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_LKfFTTyKagdmhvbzyHfrs_1753360483245_3.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_UetcGGgS1WuDEvHAWiiAV_1753360483246_4.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_EqoQe0DDvBagP2eXNqBpz_1753360483249_5.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf__JNJuJ1bZGSjqWFr7XIx7_1753360483251_6.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_Ig7znHDC_rRsCGUu0KdfD_1753360483253_7.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_Jyj8FLUIKYhD7f_lZZfbS_1753360483255_8.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_toegwK2H3pEK-BxxezKzd_1753360483256_9.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_fJtU9kMbP7B7sBCGzwxNS_1753360483258_10.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_aEq2KDneonK3YAkcQdDN8_1753360483259_11.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_nmE75kwP4HtlRko3KhhFg_1753360483261_12.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_Vpl636iqPlN7H2iH46iW2_1753360483262_13.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_XGLlzsjH_NbGmo8rVPnno_1753360483264_14.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_RGLwryLMZ7bKiB6a2wbU6_1753360483266_15.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_7oMTscM1wTbU3_EqI7lxC_1753360483267_16.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_XpUBGfveG5wiaiEnmt8Hd_1753360483269_17.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_h7wUFroseap8i2nB7l_57_1753360483270_18.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_Ltg-8hnDFcivqBGiLP6XL_1753360483271_19.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_5-CMCuWE0ISqxmAGnnwPO_1753360483273_20.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_c23eKUj9zIP-Q7kKvjdbL_1753360483274_21.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_-qlj-sozpKTLKw5_5WigC_1753360483275_22.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_92PzA3Plzo0t261oFzCnD_1753360483277_23.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_MCVON6BjAVVtmGeDjRfQ__1753360483278_24.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_TucWGQRIdskmaB_Zk-Gdz_1753360483279_25.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_PO09Q1cDAJwaO9xZWzj_p_1753360483283_26.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_j-F637npNE2Ob73MLpCo0_1753360483285_27.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/6882286314a2b6d1703c5bcf_PSgeti7iMI1-fjnatG8ho_1753360483287_28.jpg"
						alt="Room image">
				</div>
				<div class="slider-controls">
					<button class="prev" data-room-id="6882286314a2b6d1703c5bcf"><span class="t-icon">‹</span></button>
					<button class="next" data-room-id="6882286314a2b6d1703c5bcf"><span class="t-icon">›</span></button>
				</div>
			</div>

			<div class="room-description">
				<h2>Green Room</h2>
				<p>Located 27 km from Piazza Duomo and 15 km from Etnaland, Civico 46 Rooms offers air-conditioned rooms
					with private bathrooms in Santa Maria di Licodia. This completely non-smoking property is 25 km from
					Angelo Massimino Stadium.

					Rooms at this guest house are equipped with a coffee machine. Featuring a private bathroom with a
					shower and free toiletries, rooms at Civico 46 Rooms also offer free WiFi. Each room is equipped
					with bed linen and towels.

					Guests at Civico 46 Rooms can enjoy a variety of activities in and around Santa Maria di Licodia,
					including hiking, golfing, and cycling.

					Villa Bellini is 26 km from this guest house, while Catania Roman Amphitheater is 26 km away.
					Catania Fontanarossa Airport is 28 km from the property.</p>
			</div>

			<div class="room-bottom">
				<div>
					
					<span class="from-label">from </span><span class="price">€85.00</span>
				</div>
				<a target="_blank" class="details-link"
					href="https://civico46rooms.it/property?p=6882286314a2b6d1703c5bcf">Details</a>
			</div>
		</div>
		<div class="room-card" data-id="68822aa914a2b6d1703c5d71" onclick="_goTo('https://civico46rooms.it/property?p=68822aa914a2b6d1703c5d71')">
			<div class="room-slider" data-room-id="68822aa914a2b6d1703c5d71">
				<div class="slider-container" id="slider-68822aa914a2b6d1703c5d71">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_6xO2xEUeNQa1BOnPunI5a_1753361065772_1.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_F6odHF1LfUpx18HQO7h9S_1753361065779_2.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_HPRgvHtbLvfbBBU7yDyS2_1753361065780_3.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_dcfdSVtvLTU-ySIbcUcnZ_1753361065782_4.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_Vjb1q1LzL4DKT0gjwiMdq_1753361065783_5.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_w_UA8J255S53pzDbsHnbv_1753361065785_6.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_GjvFo6hLRthZjvlDj688D_1753361065786_7.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_CE8Fkd9-SOLD4HNb3Nwo3_1753361065788_8.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_XkVRSVXyM7q5PN-KiRWJM_1753361065789_9.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_IqVZJ0p2CY3bpxyVEx__L_1753361065791_10.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_nM9c-m3_zlBWmAf_wf-gz_1753361065792_11.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_BytcXYeMLZYrbMaqLqFh__1753361065793_12.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_GOvho5JAsevlojey2Sxgj_1753361065797_13.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_WnJeGtmIpqMh8ULRGgg8d_1753361065799_14.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_zteo8wbyjytadMDXwmrqe_1753361065800_15.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_57C3398UK5QLAPnr7y3Ze_1753361065801_16.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_O35ZZcMLUN9PFTkeURT8m_1753361065803_17.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_ktmLfuQ8D1uj7XFtTkpj2_1753361065804_18.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_WFRfloD_5zulB7BjEQStL_1753361065806_19.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_xmZr66QKeAtEn3dlYqF2l_1753361065807_20.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_Mi2SIctICtPWaIN0zcCF3_1753361065809_21.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_pGW02cGN2NW1d1wNreRlC_1753361065812_22.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_CZ-L03SgcJj208WM6QHx7_1753361065814_23.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_EM-VrD34TGgl3pxxDonbF_1753361065815_24.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822aa914a2b6d1703c5d71_8H6ptyVhv9EWbBLszpioC_1753361065817_25.jpg"
						alt="Room image">
				</div>
				<div class="slider-controls">
					<button class="prev" data-room-id="68822aa914a2b6d1703c5d71"><span class="t-icon">‹</span></button>
					<button class="next" data-room-id="68822aa914a2b6d1703c5d71"><span class="t-icon">›</span></button>
				</div>
			</div>

			<div class="room-description">
				<h2>Red Room</h2>
				<p>Located 27 km from Piazza Duomo and 15 km from Etnaland, Civico 46 Rooms offers air-conditioned rooms
					with private bathrooms in Santa Maria di Licodia. This completely non-smoking property is 25 km from
					Angelo Massimino Stadium.

					Rooms at this guest house are equipped with a coffee machine. Featuring a private bathroom with a
					shower and free toiletries, rooms at Civico 46 Rooms also offer free WiFi. Each room is equipped
					with bed linen and towels.

					Guests at Civico 46 Rooms can enjoy a variety of activities in and around Santa Maria di Licodia,
					including hiking, golfing, and cycling.

					Villa Bellini is 26 km from this guest house, while Catania Roman Amphitheater is 26 km away.
					Catania Fontanarossa Airport is 28 km from the property.</p>
			</div>

			<div class="room-bottom">
				<div>
					<span class="from-label">from </span><span class="price">€85.00</span>
				</div>
				<a target="_blank" class="details-link"
					href="https://civico46rooms.it/property?p=68822aa914a2b6d1703c5d71">Details</a>
			</div>
		</div>
		<div class="room-card" data-id="68822bc014a2b6d1703c5e0e" onclick="_goTo('https://civico46rooms.it/property?p=68822bc014a2b6d1703c5e0e')">
			<div class="room-slider" data-room-id="68822bc014a2b6d1703c5e0e">
				<div class="slider-container" id="slider-68822bc014a2b6d1703c5e0e">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_a2QyoodD6Dw3f3MSjcQAq_1753361344782_1.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_896jeBRxWoNu7SfJ1ICQT_1753361344785_2.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_iDMq39MvrcJrD07oZgikV_1753361344786_3.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_R43-DxfZW6_PLxXLvLl0F_1753361344790_4.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_aLhvW6vQy36LCUfdxFxeu_1753361344792_5.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_vTCL-8G1w8yi_F-iWuevD_1753361344793_6.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_rnbx0VHrKoSMOdTjTtWHJ_1753361344795_7.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_q5nzI_mdxFoq8APO6_Gpc_1753361344796_8.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_aWFj9mtEPj9i5CgZdFA-k_1753361344798_9.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_GVQ_W1nPK3aZu5JF4vDZq_1753361344799_10.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_MLjwp82NW1omprfNGdnxu_1753361344800_11.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_JQXdn1_AooYTUA4a-q0lD_1753361344802_12.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_Ni3fTrSE2Hm1brKrc580B_1753361344803_13.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_du2514qGkEgdMECdf-6OX_1753361344806_14.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_2Ow6qmqk1sDLu2czqjQRZ_1753361344808_15.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_MMurngWgJ0B4PtJ0s17lU_1753361344809_16.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_ZsVQ_sgA11_IXIGEuv3pw_1753361344811_17.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_Wm2Hi5pIYVu7HVQtvmZ_7_1753361344812_18.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_TZVQ6-XyoRuG2bLm-U4bQ_1753361344814_19.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_XO8EQ-Ri45aeDH2jlr6v1_1753361344815_20.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_g_r9SjcvW0BIDOtDTyqUe_1753361344817_21.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_Q3nqczc_bRA1zJxEJ0YKF_1753361344818_22.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_RRGc6CGI4f9TRwwLsjrCb_1753361344819_23.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_3ber-RmJqFF19HbrfyyXe_1753361344820_24.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_IV8MSo-LZ82oTpLmay7qN_1753361344824_25.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_RqFct0Uvfi2erPwjZKeyj_1753361344826_26.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_MIGAsKyvD-qFdXcs7l1jZ_1753361344827_27.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_4OUWxTNti_Qx_3KTHOrNF_1753361344828_28.jpg"
						alt="Room image">
					<img src="https://api.civico46rooms.it/cdn/movinin/properties/68822bc014a2b6d1703c5e0e_tnD1y3t077H26iGmJQ-kR_1753361344830_29.jpg"
						alt="Room image">
				</div>
				<div class="slider-controls">
					<button class="prev" data-room-id="68822bc014a2b6d1703c5e0e"><span class="t-icon">‹</span></button>
					<button class="next" data-room-id="68822bc014a2b6d1703c5e0e"><span class="t-icon">›</span></button>
				</div>
			</div>

			<div class="room-description">
				<h2>Yellow Room</h2>
				<p>Located 27 km from Piazza Duomo and 15 km from Etnaland, Civico 46 Rooms offers air-conditioned rooms
					with private bathrooms in Santa Maria di Licodia. This completely non-smoking property is 25 km from
					Angelo Massimino Stadium.

					Rooms at this guest house are equipped with a coffee machine. Featuring a private bathroom with a
					shower and free toiletries, rooms at Civico 46 Rooms also offer free WiFi. Each room is equipped
					with bed linen and towels.

					Guests at Civico 46 Rooms can enjoy a variety of activities in and around Santa Maria di Licodia,
					including hiking, golfing, and cycling.

					Villa Bellini is 26 km from this guest house, while Catania Roman Amphitheater is 26 km away.
					Catania Fontanarossa Airport is 28 km from the property.</p>
			</div>

			<div class="room-bottom">
				<div>
					
					<span class="from-label">from </span><span class="price">€85.00</span>
				</div>
				<a target="_blank" class="details-link"
					href="https://civico46rooms.it/property?p=68822bc014a2b6d1703c5e0e">Details</a>
			</div>
		</div>
	</div>
	<script>
		function _goTo(url) {
			const a = document.createElement('a');
			a.href = url;
			a.target = '_blank';
			document.body.appendChild(a);
			a.click();
		}
	</script>
	<script type="module" src="/src/main.tsx"></script>
</body>

</html>
