div.home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden auto;
}

div.home div.home-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-image: url('/cover.jpg');
  background-size: cover;
  background-position: bottom; */
	width: 100%;
	z-index: 1;
}

div.home div.home-content .video {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

div.home div.home-content .slider-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background-color: #0000002d;
}

.slider-nav-wrapper {
	padding: 0 2rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
	height: 100%;
}

div.home div.home-content video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: relative;
	z-index: 2;
}

div.home div.home-content div.video-background {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-image: url('/cover.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	z-index: 1;
}

div.home div.home-content::after {
	/* content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.2;
  z-index: -1; */
}

div.home-title {
	color: #F7B644;
	font-size: 28px;
	font-weight: 500;
	text-align: center;
	padding: 0 20px;
}

div.home div.home-cover {
	z-index: 2;
	color: #fff;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	letter-spacing: .065rem;
	padding: 0 20px;
}

div.home-subtitle {
	color: #fff;
	font-size: 26px;
}

div.home div.search {
	z-index: 2;
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

div.home div.search div.home-search {
	/* box-shadow: 0 3px 5px -1px #0003, 0 1px 18px 0 #0000001F, 0 6px 10px 0 #00000024; */
	box-shadow: 0px 2px 16px 0px rgba(26, 26, 26, .24);
	/* box-shadow: 0px 2px 8px 0px rgba(26, 26, 26, .16); */
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	z-index: 2;
	background-color: #fff;
	width: fit-content;
}

div.home div.services {
	padding: 40px 0 0 0;
	display: flex;
	flex-direction: row;
	align-items: start;
	width: 1240px;
	margin: 0 auto;
	gap: 24px;
}

div.home div.services h1 {
	font-weight: 500;
	padding: 0 10px;
	text-align: center;
}

div.home div.services div.services-boxes {
	display: grid;
	grid-template-columns: auto auto auto;
}

div.home div.services div.services-boxes div.services-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	margin: 20px;
	background-color: #F9F9F9;
	padding: 25px;
	text-align: center;
}

div.home div.services div.services-boxes div.services-box div.services-icon-wrapper {
	padding: 20px;
}

div.home div.services div.services-boxes div.services-box div.services-icon-wrapper .services-icon {
	font-size: 48px;
}

div.home div.services div.services-boxes div.services-box div.services-text-wrapper {
	display: flex;
	flex-direction: column;
}

div.home div.services div.services-boxes div.services-box div.services-text-wrapper span.services-title {
	font-weight: bold;
	margin-bottom: 15px;
}

div.home div.destinations {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f9f9f9;
	padding: 50px 0 60px;
}

div.home div.destinations h1 {
	width: fit-content;
	font-weight: 500;
}

div.home div.destinations div.tabs {
	width: 100%;
}

div.home div.home-map {
	width: 80%;
	margin: 15px 0 30px;
	background-color: #fff;
}

div.home div.customer-care {
	background-color: #f9f9f9;
	width: 100%;
	padding: 140px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.home div.customer-care div.customer-care-wrapper {
	width: 1200px;
	display: flex;
	flex-direction: row;
}

div.home div.customer-care div.customer-care-text {
	padding: 0 160px;
	width: 900px;
}

div.home div.customer-care div.customer-care-text div.customer-care-content {
	margin-bottom: 30px;
}

div.home div.customer-care div.customer-care-text div.customer-care-boxes {
	display: grid;
	grid-template-columns: auto auto;
	margin-bottom: 40px;
}

div.home div.customer-care div.customer-care-text div.customer-care-boxes div.customer-care-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 5px 0;
}

div.home div.customer-care div.customer-care-text div.customer-care-boxes .customer-care-icon {
	margin-right: 10px;
}

div.home div.customer-care div.customer-care-img {
	padding: 40px;
	flex: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.home div.customer-care div.customer-care-img img {
	height: 160px;
	margin-left: -80px;
	display: none;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
	.home-site-description span {
		max-width: 90% !important;
		margin: 0 auto;
	}

	div.home div.home-content {
		padding: 55px 0;
		justify-content: center !important;
		height: 54vh;
	}

	div.home div.home-title {
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 20px;
		display: none;
	}

	div.home div.home-cover {
		font-size: 28px;
		font-weight: 800;
		padding: 0 10px;

	}

	div.home div.search div.home-search {
		padding: 20px 10px;
		margin: 0 20px 0 20px;
		width: calc(100% - 20px);
		max-width: 480px;
	}

	div.home div.services div.services-boxes {
		display: flex;
		flex-direction: column;
	}

	div.home div.home-map {
		width: 100%;
		padding: 5px;
	}

	div.home div.home-map .map {
		min-height: 0;
		height: 340px;
	}

	div.home div.customer-care div.customer-care-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	div.home div.customer-care div.customer-care-text {
		padding: 0 20px;
		width: 100%;
	}

	div.home div.customer-care div.customer-care-img img {
		height: 160px;
		margin-left: 0;
	}
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
	div.home div.home-content {
		height: calc(100vh - 150px);
	}

	div.home div.home-cover {
		font-size: 42px;
		font-weight: 700;
		margin-bottom: 5px;
	}

	div.home div.search div.home-search {
		padding: 20px;
	}
}

.home-site-description span {
	color: #fff;
	max-width: 580px;
	display: block;
	line-height: 21px;
	text-shadow: 0 0 21px BLACK;
	margin-top: 17px;
	text-align: center;
}

.slider-nav-btn {
	width: 42px;
	height: 42px;
	border: 1px solid rgba(255, 255, 255, 0.547);
	background: #ffffff1f;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	z-index: 9;
}

.slider-nav-btn svg {
    width:  1.8rem !important;
    height: 1.8rem !important;
}

.slider-nav-btn:hover {
	background: #ffffff38;
}

.slider-nav-btn:active {
	background: #ffffff6b;
}

.slider-nav-btn {
	cursor: pointer;
}

.slider-image-wrapper {
	flex-grow: 1;
	/* background: #000; */
	height: 100%;
}

.slider-image-set {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	transition: transform 200ms ease-in-out;
	user-select: none;
}

.image-content, .slider-image {
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
}

.slider-image {
	position: absolute;
	user-select: none;
}

.slider-image img {
	/* width: 100%; */
	height: 100%;
    object-fit: contain;
    object-position: center;
	user-select: none;
	display: block;
	height: 100%;
	margin:0 auto;
}

.image-text {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 8px;
	text-shadow: 0 0 27px black;
	font-weight: bold;
	font-size: 4rem;
	color:#fff;
}

.left-gradient, .right-gradient {
	position: absolute;
	height: 100%;
	top: 0;
	width: 300px;
	opacity: .5;
}

.right-gradient {
	right: 0;
	background: #000000;
	background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#FFFFFF", GradientType=0);
	right: 0;
}

.left-gradient {
	background: #000000;
	background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#FFFFFF", GradientType=1);	
	left: 0;
}

.rooms-ref {
	width: 60%;
}

.about-us-component {
	width: 40%;
}

.slider-container {
	height: 100%;
}

.slider-container img {
	object-fit: cover!important;
}

.room-card {
	width: 100%!important;
}

@media screen and (max-width: 1366px) {
	div.home div.services {
		/* width: ; */
		width: 960px;
	}

	.rooms-ref {
		/* width: 100%; */
	}

	.about-us-component {
		/* width: 100%; */
	}

}


@media screen and (max-width: 400px) {
	div.home div.services {
		/* width: ; */
		width: 100%;
		flex-direction: column;
		/* padding-left: 8px;
		padding-right: 8px;
		 */
	}

	.rooms-ref {
		width: 100%!important;
		padding: 8px;
	}

	.about-us-component {
		width: 100%!important;
	}

	.room-card {
		border-radius: 0;
		margin: 20px auto;
	}

	.image-text {
		line-height: 40px;
		text-align: center;
		letter-spacing: 3px;
		font-size: 2rem;
	}
}
