.app {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

/* .grecaptcha-badge {
  visibility: hidden !important;
} */

.github-fork-ribbon::before {
  background-color: #272727;
}

@font-face {
  font-family: 'FancyCursiveFont';
  src: url('https://civico46rooms.it/assets/ScShintaPersonalUseOnly-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

